{% extends "base.twig" %}

{% block caption %}
    <h1> Admin Page </h1>
{% endblock %}

{% block buttons %}
{% endblock %}

{%block ts_table %}
{% endblock %}

{% block content %}
    <table border="1">
        <thead>
            <tr>
                <th>Week</th>
                <th>Actions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
