{% extends "base.twig" %}
    
{% block client_script %}
    <script language="javascript" type="text/javascript">
        function setFlag(){
            var ajaxRequest = new XMLHttpRequest();
            
            
             ajaxRequest.onreadystatechange = function(){
                  if(ajaxRequest.readyState == 4){
                     var ajaxDisplay = document.getElementById('article');
                     ajaxDisplay.innerHTML = ajaxRequest.responseText;
                  }
               }
               
            ajaxRequest.open("POST", "setFlag", true);
            ajaxRequest.send(null);
        }
    </script>
{% endblock %}
    
{%block source %}
    <input type='hidden' name='source' value="admin">
{% endblock %}

{% block caption %}
    <h1> Admin Page </h1>
{% endblock %}

{% block admin_button %}
{% endblock %}

{% block article %}
    {% include "adminPartial.twig" %}
   {#     <table border="1">
            <thead>
                <tr>
                    <th>Week of {{timesheets.date}}</th>
                    <th>Ticket</th>
                    <th>Hours</th>
                    <th>Billable</th>
                    <th>Exported to CSV</th>
                </tr>
            </thead>
            <tbody>
                {% for timesheet in timesheets.timesheets %}
                <tr>
                    <td>{{timesheet.created}}</td>
                    <td>{{timesheet.ticket}}</td>
                    <td>{{timesheet.hours}}</td>
                    <td>{% if timesheet.billable %}<i class="fa fa-check" aria-hidden="true"></i> {% endif %}</td>
                    <td>{% if timesheet.exported %}<i class="fa fa-check" aria-hidden="true"></i> {% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>#}
    
{% endblock %}
        
{% block footer %}

    {% if timesheets.timesheets %} 
        <button id='exported' type='button' onclick="setFlag()" value=1><a href='timesheets.csv' download>Download CSV</a></button>
    {% endif %}

{% endblock %}