<html>
    <head>
        {% block head %}
        <title>{% block title %}RS Timesheet {% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            html {font-family: "Courier New", sans-serif, monospace;}
            body {width: 75%;}
            html, body, div, table, form {margin: auto;}
            td{font-size: 14px;}
            table{width: 100%;}
            #ts_table, table, div {border: 1px; text-align: center; white-space: nowrap;}
            thead, th {font-weight: normal; border: 1px solid;}
            .table_text {white-space: nowrap;  text-align: left;}
            .comments input{width:99%;}
            .comments {width: 50%;}
            #logout {position:absolute; right: 10%;}
            #admin {position:absolute; right: 15%;}
            #datepicker{position: absolute; left: 10%}
            td form{display:inline;}
        </style>
        
        {% endblock %}
    </head>
    <body>
        <div id='header'>
            {% block header %}
                <form id="datepicker" name="select_week"  method='post' action="week">
                    <input  type="week" name="week" />
                    <input type='submit' value="Change Week">
                </form>
                <form id='logout' action="index.php" name='logout'>
                    <input  type="submit" value="Logout" name="logout" />
                </form>
            {% endblock %}
        </div>
        
         <div id='buttons'>
            {% block buttons %}
                <form id="admin" name="admin" action="admin">
                    <input type='submit' value="admin">
                </form>
            {% endblock %}
        </div>
        
        <div id='caption'>
            {% block caption %}
                <h1></h1>
            {% endblock %}
        </div>
        
        <div id='ts_table'></div>
            {% block ts_table %}
            <table>
                <div id='ts_head'>
                    {% block thead %}
    {#                    <table>#}
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Hours</th>
                                    <th>Ticket</th>
                                    <th>Comments</th>
                                    <th>Billable</th>
                                    <th>Commands</th>
                                </tr>
                            </thead>
    {#                    </table#}
                    {% endblock %}
                </div>
                <div id='ts_body'>
                    {% block ts_body %}
                    {% endblock %}
                </div>
            </table>    
            {% endblock %}
            </div>
            
        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>
        
        <div id='footer'>
            {% block footer %}
            {% endblock %}
        </div>
        
    </body>
</html>
