<center>
    <h1> RS/Timesheet </h1>
    
    <div>
    {% for alert in app.session.flashbag.get('auth_err') %}
        <div class="error-message">
          <div class="alert"><strong>{{ alert }}</strong></div>
        </div>
    {% endfor %}
    </div>
    
    <form action="" method='POST' >

        <br>User: <input type="text" name="username" value="" /><br/>
        <br>Pass: <input type="password" name="password" value="" /><br/>
        <br><input type="submit" value="Login"/><br/>
        
    </form>
    
    

    
</center>