<center>
    <h1> RS/Timesheet </h1>

    <form action="" method='POST' >

        <br>User: <input type="text" name="username" value="" /><br/>
        <br>Pass: <input type="password" name="password" value="" /><br/>
        <br><input type="submit" value="Login"/><br/>
        
    </form>
    
</center>